<div class="card m-3">
    <h5 class="card-header">ACCOUNTS</h5>
    <div class="card-body">
        <div *ngIf="accounts; else loading">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 5%">Title</th>
                        <th style="width: 15%">First Name</th>
                        <th style="width: 15%">Last Name</th>
                        <th style="width: 25%">Email</th>
                        <th style="width: 10%">Role</th>
                        <th style="width: 10%">Status</th>
                        <th style="width: 20%">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let account of accounts">
                        <td>{{account.title}}</td>
                        <td>{{account.firstName}}</td>
                        <td>{{account.lastName}}</td>
                        <td>{{account.email}}</td>
                        <td>{{account.role}}</td>
                        <td>
                            <span class="badge" [ngClass]="{'bg-success': account.isVerified, 'bg-danger': !account.isVerified}">
                                {{account.isVerified ? 'Active' : 'Inactive'}}
                            </span>
                        </td>
                        <td style="white-space: nowrap">
                            <a routerLink="edit/{{account.id}}" class="btn btn-sm btn-primary me-1">Edit</a>
                        </td>
                    </tr>
                    <tr *ngIf="accounts.length === 0">
                        <td colspan="7" class="text-center p-3">No Accounts to display</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ng-template #loading>
            <div class="text-center p-3">
                <span class="spinner-border spinner-border-lg align-middle me-2"></span>
                Loading accounts...
            </div>
        </ng-template>

        <div class="d-flex justify-content-end mt-3">
            <button routerLink="add" class="btn btn-primary">Add Account</button>
        </div>
    </div>
</div>